<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    {% if user.is_authenticated %}
    <h2>Hello User. Your username is {{user.username}}</h2>
    <br><br>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
<h2>This is the index page and you are not authenticated</h2>
{% endif %}
</body>
</html>