<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
{% if registered %}
<h1>You are registered</h1>
{% else %}

    <form action="" method="POST">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" value="Register">

 {% endif %}


    </form>
</body>
</html>